body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}
header a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}
header a:hover {
	text-decoration: underline;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
